services:
  postgres-18:
    image: postgres:18-alpine
    volumes:
      - postgres-18:/var/lib/postgresql/data
      - ./tmp:/tmp/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  web: &web
    build: .
    image: app:1.0.0
    stdin_open: true
    tty: true
    volumes:
      - .:/app:cached
      - bundle:/app/vendor/bundle
      - rails_cache:/app/tmp/cache
    tmpfs:
      - /tmp
    environment:
      BUNDLE_PATH: "/app/vendor/bundle"
      BOOTSNAP_CACHE_DIR: "/app/vendor/bundle"
      WD_INSTALL_DIR: "/usr/local/bin"
      HISTFILE: "/app/log/.bash_history"
      EDITOR: "vi"
      DATABASE_URL: "postgres://postgres:postgres@postgres-18:5432"
      RAILS_MASTER_KEY:
    depends_on:
      - postgres-18
    command: bash -c "bundle install --jobs=4 && rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0"
    expose: ["3000"]
    ports: ["3000:3000"]
    user: root
    working_dir: /app

volumes:
  postgres-18:
  bundle:
  rails_cache:
