name: Ruby

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

env:
  CI: "true"

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    container:
      image: cimg/ruby:3.4.8-node
      options: --user root
      env:
        PGHOST: postgres
        PGUSER: postgres
        PGPASSWORD: password
        RAILS_ENV: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache vendor/bundle
        uses: actions/cache@v4
        id: cache_gem
        with:
          path: vendor/bundle
          key: v1-gem-${{ runner.os }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            v1-gem-${{ runner.os }}-
      - name: Build and setup
        run: |
          gem install bundler --no-document -v $(grep "BUNDLED WITH" -1 Gemfile.lock | tail -n 1)
          bundle config set --local path 'vendor/bundle'
          bundle install --jobs 4 --retry 3
      - name: Install JS dependencies
        run: yarn install --frozen-lockfile
      - name: Build assets
        run: |
          yarn build
          yarn build:css
      - name: Database setup
        run: |
          bundle exec rails db:prepare
      - name: Run Rubocop
        run: |
          bundle exec rubocop --parallel
      - name: Run test
        run: |
          bundle exec rails test
